* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
