* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #fff;
  --btn-color: #ab706a;
  --main-title: #c69881;
  --primary-bg-color: #fff;
  --secondary-bg-color: #c69881;
  --section-padding: 70px;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  font-family: Arial, Helvetica, sans-serif;
}
.dark-theme {
  --text-color: #000;
  --primary-bg-color: #000;
}
section {
  padding: var(--section-padding) 0;
}
.container {
  margin: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
